.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #f3f5f7
    border-color #42b983
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor

.feature-highlight
  min-height: 240px;
  position: relative;
  padding: 40px;

  &:nth-child(odd)
    margin-left: 30%;

    img
      left: -490px;
    
    &:before
      background: #ddd
      box-shadow: 0 14px 6px -12px rgba(0,0,0,0.2) inset

  &:nth-child(even)
    margin-right: 30%;

    img
      right: -490px;
    
    &:before
      background: #fefefe;
      box-shadow: 0 14px 6px -12px rgba(0,0,0,0.3) inset

  &:before
    content: ''
    position: absolute;
    left: -100%;
    width: 200vw;
    display: block;
    height: 100%;
    top: 0;
    z-index: -1;

  img
    position: absolute;
    width: 480px;
    top: -48px;
    border-radius 4px
    box-shadow  0 0 8px rgba(0, 0, 0, 0.2),
                0 0 2px rgba(0, 0, 0, 0.2),
                2px 2px 4px rgba(0, 0, 0, 0.2)
